@import "../../styles/variables.scss";
@import "../../styles/commonClasses.scss";

$font-primary: "Times New Roman", Times, serif;

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
}

@mixin flex($color) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $color;
}

.card {
  gap: 8px;
  border-radius: 8px;
  padding: 20px;
  font-family: $font-primary;
  min-height: 300px;
  min-width: 300px;

  // @extend .flex-col-center;

  @include flex($white);

  .card-input {
    border: 1px solid #ccc;
    height: 34px;
    min-width: 200px;
    padding: 4px 8px;
    border-radius: 6px;
    margin-bottom: 8px;
  }

  ul {
    color: gray;

    :last-child {
      color: red;
      font-weight: 600;
    }

    :hover {
      font-size: 20px;
      color: black;
    }
  }
}
