.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1518px;
    height: 70px;
    background-color: #f3e5d3;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: #5c3d2e;
    font-family: Arial, sans-serif;
    margin-right: 50px;
}

.navItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}
.navItem li {
    list-style: none;
}

.navItem li a {
    font-size: 18px;
    color: #8b5e3c;
    text-decoration: none;
    transition: color 0.3 ease;
}

.navItem li a:hover {
    color: #5c3d2e;
    font-weight: bold;
}

.iconContiner{
position: relative;

.badge{
position:absolute ;
right: 0;
bottom: 0;
background-color: #8b5e3c;
color: #f3e5d3;
border-radius: 50%;
font-size: 12px;
width: 14px;
height: 14px;
display: flex;
justify-content: center;
align-items: center;
}
}

.navIcon{
    display: flex;
    align-items: center;
    gap: 10px;
    color:#5c3d2e;
    margin-left: 19px;
}